@import url('fonts.css');
html,body {margin: 0;padding: 0;}
body {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    font-family: body;
    font-size: 13pt;
    -webkit-text-stroke: 0.6px;
    text-shadow: 0 0 0.3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: #e9e2d4;
    /* background: radial-gradient(circle, #c6e7fb 70%, #44669a 100%); */
}
a {color: #100c0c;}
/* a:visited {color: #bc14bc;} */
a:hover {text-decoration: underline wavy;}
.markdown-body {
    max-width: 50vw;
    width: fit-content;
    min-width: 45vw;
    /* height: fit-content; */
    margin: 0 auto;
    /* margin: 2em auto 2em; */
    padding: 1em 2em;
    color: #2f2f2f;
    background-color: #e9e2d4;
    box-shadow: #2f2f2f0d 0 0 2em 2em;
}
hr {border: none;border-top: solid #2f2f2f4a 0.1px;}
@media (prefers-color-scheme: dark) {
    body {background: #2f2f2f;}
    a {color: #ffeac1;}
    /* a:visited {color: #9663e4;} */
    .markdown-body {
        color: #e9e2d4;
        background-color: #2f2f2f;
        box-shadow: #25252557 0 0 2em 2em;
    }
    hr {border: none;border-top: solid #e9e2d429 0.1px;}
}
@media only screen and (max-width: 1000px) {.markdown-body {min-width: 90vw;}}
@media only screen and (max-width: 600px) {.markdown-body {min-width: 85vw;}}