@import url('fonts.css');
html,body {margin: 0;padding: 0;}
body {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    font-family: body;
    -webkit-text-stroke: 0.6px;
    text-shadow: 0 0 0.3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: #e6f6ff;
    /* background: radial-gradient(circle, #c6e7fb 70%, #44669a 100%); */
}
a {color: #4947cf;text-decoration: none;}
a:visited {color: #bc14bc;}
a:hover {text-decoration: underline;}
.markdown-body {
    max-width: 50vw;
    width: fit-content;
    min-width: 45vw;
    /* height: fit-content; */
    margin: 0 auto;
    /* margin: 2em auto 2em; */
    padding: 1em 2em;
    color: #1d4483;
    background-color: #f5fcff;
    box-shadow: #abd5ee 0 0 3px;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #0a1921;
        /* background: radial-gradient(circle, #101e25 70%, #000405 100%); */
    }
    a {color: #cbced1;}
    a:visited {color: #af09d0;}
    .markdown-body {
        color: #759cb1;
        background-color: #0a1418;
        box-shadow: #000 0 0 3px;
    }
}
@media only screen and (max-width: 1000px) {.markdown-body {min-width: 90vw;}}
@media only screen and (max-width: 600px) {.markdown-body {min-width: 85vw;}}